@layer utilities {

  .page-layout{
    @apply mx-auto flex flex-col px-5
  }

  .flex-center{
    @apply flex justify-center items-center;
  }

    .max-w-824 {
    @apply max-w-[51.5rem];
  }
  .max-w-1024 {
    @apply max-w-[64rem];
  }
  .max-w-1224 {
    @apply max-w-[76.5rem];
  }
  .max-w-full {
    @apply max-w-full;
  }

}